Node_Red_Dashboard_with_Camera.json
[{"id":"5b92d338.a46d2c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f86f6081.38b7a","type":"inject","z":"5b92d338.a46d2c","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":189,"y":500,"wires":[["00fcef664c2ba44d"]]},{"id":"d332b82.5ff9c48","type":"ui_gauge","z":"5b92d338.a46d2c","name":"","group":"b6c503ec.21a39","order":2,"width":"4","height":"3","gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"36","diff":false,"className":"","x":526,"y":511,"wires":[]},{"id":"b7c9cda4.a2f3e","type":"ui_chart","z":"5b92d338.a46d2c","name":"","group":"b6c503ec.21a39","order":0,"width":"8","height":"4","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0a8ae6","#aec7e8","#f49643","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":665,"y":731,"wires":[[]]},{"id":"e8fcefd9.c5376","type":"ui_switch","z":"5b92d338.a46d2c","name":"","label":"Toggle On/OFF","tooltip":"","group":"4922caa3.aa1274","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":220,"y":60,"wires":[["8528b3c63e3fec9b"]]},{"id":"f22fc364.13ff1","type":"ui_switch","z":"5b92d338.a46d2c","name":"","label":"Toggle On/OFF","tooltip":"","group":"b1a3f7c0.cbd0b8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":true,"onvalueType":"str","onicon":"","oncolor":"","offvalue":false,"offvalueType":"str","officon":"","offcolor":"","x":219.5,"y":124.5,"wires":[["482dd9ce.0d1138"]]},{"id":"3c08967c.31583a","type":"ui_switch","z":"5b92d338.a46d2c","name":"","label":"Toggle On/OFF","tooltip":"","group":"f69de26f.c55fc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":true,"onvalueType":"str","onicon":"","oncolor":"","offvalue":false,"offvalueType":"str","officon":"","offcolor":"","x":223.5,"y":193.5,"wires":[["7eb3f671.e2ab58"]]},{"id":"d7b9775d.495618","type":"ui_slider","z":"5b92d338.a46d2c","name":"","label":"PWM","tooltip":"","group":"84b4d8da.823e08","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":"5","x":192.5,"y":249.5,"wires":[["cf89de14.68468"]]},{"id":"422364fe.20e3cc","type":"ui_switch","z":"5b92d338.a46d2c","name":"","label":"Toggle On/OFF","tooltip":"","group":"736f5b6c.372944","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":221.5,"y":306,"wires":[["82be5585.f7b778"]]},{"id":"92e29ee6.ffd4f","type":"ui_button","z":"5b92d338.a46d2c","name":"","group":"1d5ba5fa.e68c0a","order":0,"width":0,"height":0,"passthru":true,"label":"Click !","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":187.5,"y":418.5,"wires":[["dc857aa6.bdc6c8"]]},{"id":"85ebcb6d.84dfa8","type":"inject","z":"5b92d338.a46d2c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":202.5,"y":362,"wires":[["dc857aa6.bdc6c8"]]},{"id":"dc857aa6.bdc6c8","type":"camerapi-takephoto","z":"5b92d338.a46d2c","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"7","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"0.3","led":"0","awb":"auto","name":"","x":405.5,"y":381,"wires":[["c7e49eed35661284"]]},{"id":"482dd9ce.0d1138","type":"rpi-gpio out","z":"5b92d338.a46d2c","name":"","pin":"6","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":470,"y":108,"wires":[]},{"id":"7eb3f671.e2ab58","type":"rpi-gpio out","z":"5b92d338.a46d2c","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":470,"y":165,"wires":[]},{"id":"cf89de14.68468","type":"rpi-gpio out","z":"5b92d338.a46d2c","name":"","pin":"19","set":false,"level":"0","freq":"50","out":"pwm","bcm":true,"x":468.5,"y":221,"wires":[]},{"id":"82be5585.f7b778","type":"rpi-gpio out","z":"5b92d338.a46d2c","name":"","pin":"26","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":466.5,"y":289,"wires":[]},{"id":"aeea1b3ae99278ee","type":"template","z":"5b92d338.a46d2c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"320\" height=\"240\"\"/>\n\n","output":"str","x":674,"y":413,"wires":[["c7e1e3959d7045ef"]]},{"id":"c7e1e3959d7045ef","type":"ui_template","z":"5b92d338.a46d2c","group":"1d5ba5fa.e68c0a","name":"","order":1,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":679,"y":452,"wires":[[]]},{"id":"8e45a782efaea3b8","type":"base64","z":"5b92d338.a46d2c","name":"","action":"","property":"payload","x":676,"y":375,"wires":[["aeea1b3ae99278ee"]]},{"id":"c7e49eed35661284","type":"file in","z":"5b92d338.a46d2c","name":"","filename":"payload","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":672.5,"y":334,"wires":[["8e45a782efaea3b8"]]},{"id":"00fcef664c2ba44d","type":"rpi-dht22","z":"5b92d338.a46d2c","name":"","topic":"rpi-dht11","dht":"11","pintype":"0","pin":"4","x":316.5,"y":567.5,"wires":[["d332b82.5ff9c48","a101a0de43ee99cf","b7c9cda4.a2f3e","014dc925cae648f9"]]},{"id":"882b97ecee99bbc3","type":"ui_gauge","z":"5b92d338.a46d2c","name":"","group":"b6c503ec.21a39","order":2,"width":"4","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":762.5,"y":533.5,"wires":[]},{"id":"a101a0de43ee99cf","type":"function","z":"5b92d338.a46d2c","name":"function 1","func":"var msg1={}\nmsg1.payload=msg.humidity;\nreturn msg1;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":501.5,"y":576,"wires":[["882b97ecee99bbc3","b7c9cda4.a2f3e","f9193ae521effb55"]]},{"id":"8528b3c63e3fec9b","type":"rpi-gpio out","z":"5b92d338.a46d2c","name":"","pin":"5","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":469.5,"y":54.5,"wires":[]},{"id":"014dc925cae648f9","type":"mqtt out","z":"5b92d338.a46d2c","name":"","topic":"dht\\temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"412af0fb852e9066","x":779.5,"y":607,"wires":[]},{"id":"f9193ae521effb55","type":"mqtt out","z":"5b92d338.a46d2c","name":"","topic":"dht\\humd","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"412af0fb852e9066","x":784.5,"y":667,"wires":[]},{"id":"b6c503ec.21a39","type":"ui_group","name":"Weather","tab":"61c15dc5.efd024","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"4922caa3.aa1274","type":"ui_group","name":"Hall","tab":"61c15dc5.efd024","order":3,"disp":true,"width":"4","collapse":false},{"id":"b1a3f7c0.cbd0b8","type":"ui_group","name":"Bedroom","tab":"61c15dc5.efd024","order":4,"disp":true,"width":"4","collapse":false},{"id":"f69de26f.c55fc","type":"ui_group","name":"Kitchen","tab":"61c15dc5.efd024","order":5,"disp":true,"width":"4","collapse":false},{"id":"84b4d8da.823e08","type":"ui_group","name":"Garage","tab":"61c15dc5.efd024","order":7,"disp":true,"width":"4","collapse":false},{"id":"736f5b6c.372944","type":"ui_group","name":"Garden","tab":"61c15dc5.efd024","order":6,"disp":true,"width":"4","collapse":false},{"id":"1d5ba5fa.e68c0a","type":"ui_group","name":"Photo Booth","tab":"61c15dc5.efd024","order":2,"disp":true,"width":"6","collapse":false},{"id":"412af0fb852e9066","type":"mqtt-broker","name":"","broker":"192.168.0.21","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"61c15dc5.efd024","type":"ui_tab","name":"Control Panel","icon":"dashboard","order":1,"disabled":false,"hidden":false}]